main {
	display: flex;
	color: #fff;
	justify-content: space-between;
	margin: 20px 50px;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 20%;
	font-weight: 300;
}

ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style: none;
}

li {
	padding: 10px;
	user-select: none;
	font-size: 1.2em;
}

li:hover {
	color: #33CCFF;
	cursor: pointer;
}

.active {
	color: #33CCFF;
}

textarea {
  width: 100%;
  height: 400px;
  outline: none;
  overflow: auto;
  resize: none;
  color: #33CCFF;
  font-size: 1.2em;
  border: 1px solid #33CCFF;
  border-radius: 4px;
  padding: 5px 0;
  background: #252746;
  font-family: inherit;
}

.tool {
	display: flex;
	width: 75%;
	flex-direction: column;
	text-align: center;
}

.input-panel {
	height: auto;
}
.output-panel {
	height: auto;
	color: #33CCFF;
	font-size: 1.5em;
}

h3 {
	padding: 10px;
	font-weight: 400;
}

footer {
	position: fixed;
	bottom: 20px;
	right: 20px;
}
.version {
	color: #33CCFF;
}