main {
  display: flex;
  color: #fff;
  justify-content: space-between;
  margin: 20px 50px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  font-weight: 300;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
}

li {
  padding: 10px;
  user-select: none;
  font-size: 1.2em;
}

li:hover {
  color: #33ccff;
  cursor: pointer;
}

.active {
  text-shadow: 0px 0px 20px #33ccff;
  color: #33ccff;
}

textarea,
.output-panel {
  width: 100%;
  outline: none;
  resize: none;
  color: #33ccff;
  font-size: 1.2em;
  border: 1px solid #33ccff;
  border-radius: 4px;
  padding: 5px 5px 5px 2px;
  background: #252746;
  font-family: inherit;
  word-wrap: break-word;
}

textarea {
  min-height: 50vh;
}

textarea::placeholder {
  text-align: center;
  color: #888;
}

.output-panel:hover {
  transition: box-shadow 0.25s ease-in-out;
  box-shadow: 0px 0px 20px #33ccff;
}

.tool {
  display: flex;
  width: 75%;
  flex-direction: column;
  text-align: center;
}

.input-panel {
  height: auto;
}

.hash {
  user-select: all;
  padding: 5px;
}

.hash::selection {
  background: rgba(255, 255, 255, 0.2);
}

h3 {
  padding: 10px;
  font-weight: 400;
}

footer {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.version {
  color: #33ccff;
}

.copy-icon {
  float: right;
  background: transparent;
  border: none;
  cursor: pointer;
}

.copied {
  padding: 10px;
  color: #33d9b2;
  font-size: 1.5em;
}
