header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 10px 20px;
  color: #fff;
  text-transform: uppercase;
}

header h1 {
  display: inline-block;
  font-size: 2em;
}

.min {
  font-weight: 300;
  color: #fff;
}
.bin {
  font-weight: 500;
  color: #33ccff;
}

a {
  text-decoration: none;
  color: #fff;
  text-transform: none;
}

a:hover * {
  color: #33ccff;
  stroke: #33ccff;
}
