header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 20px;
	color: #edf5e1;
}

header h1 {
	display: inline-block;
	font-weight: 300;
	font-size: 3.5em;
}

.min {
	color: #edf5e1;
}
.bin {
	color: #2196F3;
}