header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 20px;
	color: #e7dfdd;
	background: #0e0b16;
	border-bottom: 4px solid #4717f6;
}

header h1 {
	display: inline-block;
	font-weight: 300;
	font-size: 3.5em;
}

.min {
	color: #e7dfdd;
}
.bin {
	color: #4717f6;
}