@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");

* {
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  overflow: auto;
}

.app-container {
  background: #252746;
  background-size: cover;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0.4em;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px;
}
